* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pacifico", cursive;
}
body {
  font-family: "Pacifico", cursive;
  background-color: #333;
  color: #ffd43b;
}
.container {
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
}
header {
  margin-bottom: 2rem;
}
header h1 {
  font-size: 5rem;
  font-family: "Great Vibes";
}
form {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  border: 1px red solid;
  background-color: #ffd43b;
  border-radius: 12px;
}
form .txtAddItem {
  width: 70%;
  padding: 5px 12px;
  background-color: rgba(255, 255, 253, 0.425);
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-style: italic;
  transition: all 0.5s ease;
  border-radius: 8px;
  border: none;
}
form .txtAddItem:hover {
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
}

form .btnAddItem {
  width: 25%;
  padding: 6px 12px;
  border: none;
  background-color: rgb(138, 136, 136);
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
  transition: all 0.2s ease;
  border-radius: 8px;
}
form .btnAddItem:hover {
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
}

.list-container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding: 0 20px;
}
.list-item {
  list-style: none;
  margin-bottom: 8px;
  padding: 10px 15px;
  /* text-transform: uppercase; */
  background-color: #f3e3a8;
  color: #333;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-item p {
  font-size: 1.4em;
  font-weight: bold;
}

.list-item:hover {
  box-shadow: inset 0 0 50px #fa1c0380;
}

.list-item button {
  /* float: right; */
  display: block;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: salmon;
  transition: all 0.2s ease;
  font-size: 0.6rem;
  font-weight: 700;
}

.list-item button:hover {
  background-color: red;
  color: #fff;
}

input.checkbox {
  width: 18px;
  height: 18px;
  background-color: red;
  color: black;
}

.list-item div {
  display: flex;
  align-items: center;
}
